.container-butoon{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.btn{
    
    background-color: #FFFFFF;
    color: black;
    border-radius: 8px;
    padding: 0px 12px;
    border-width: 0.5px;
}

.btn-small{ 
    width: 61px;
    height: 27px;
    font-size: 11px;
    
}
.btn-default{
    width: 67px;
    height: 33px;
    font-size: 13px;
}
.btn-normal{
    width: 72px;
    height: 40px;
    font-size: 14px;
}
.btn-medium{
    width: 84px;
    height: 42px;
    font-size: 16px;
}
.btn-large{
    width: 91px;
    height: 44px;
    font-size: 19px;
}

