.container-buttons {
    padding: 2rem;
    display: flex;
    gap: 1rem;
}


.btn-javier {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
  }

.btn-light-primary {
    color: #00c5ab;
    background-color: #dcfffc
}

.btn-light-link {
    color: #2961bb;
    background-color: #e3ecff      
}

.btn-light-info {
    color: #2d8dce;
    background-color: #d6e9f8      
}

.btn-light-success {
    color: #39995b;
    background-color: #d8fde2      
}

.btn-light-warning {
    color: #ccaf3a;
    background-color: #fff9d2      
}

.btn-light-danger {
    color: #b9344f;
    background-color: #ffc8d3      
}